// Default color styles
html {
    background-color: $color-bg;
}

// Text (barring anchors)
p, span, h1, h2, h3, h4, h5, h6 {
    color: $color-text;
} 

// Anchors
a {
    color: $color-anchor;
}

// Color class to change colors on-the-fly
.color {
    &-pink {
        color: $pink;
    }
    
    &-orange {
        color: $orange;
    }

    &-green {
        color: $green;
    }

    &-blue {
        color: $blue;
    }

    &-white {
        color: $white;
    }
}