{% comment %}
Layout wrapper for a grid cell
Params:
    - content: Cell content (use a capture block for this) or image url
    - type: Cell type, for now can only be "image" or null
    - width: Cell width in cell count, default 1
    - height: Cell height in cell count, default 1
    - center: Centers content if true
{% endcomment %}
<div class="grid__cell 
            grid__cell--w{{ include.width | at_least: 1 | at_most: 6 | default 1}} 
            grid__cell--h{{ include.height | at_least: 1 | at_most: 6 | default 1}}
            {% if include.center %}grid__cell--center{% endif %}">
    {% if include.type == "image" %}
        <img src="{{ include.content }}" style="width: 100%; height: 100%; object-fit: cover" />
    {% else %}
        {{ include.content | markdownify }}
    {% endif %}
</div>