{% comment %}
Navbar template
Params:
    - vertical: vertical format if true
{% endcomment %}
<header class="header">
    <nav class="nav">
        <a class="nav__home color-orange" href="/">{{ site.title }}</a>
        <a class="nav__item color-blue" href="#">research</a>
        <a class="nav__item color-green" href="#">experience</a>
        <a class="nav__item color-pink" href="#">create</a>
        <a class="nav__item color-white" href="#">about</a>
    </nav>
    <h1 class="fs-normal fw-normal">{{page.title}}</h1>
</header>