// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$pink: #F7A4AA;
$orange: #FAAF3A;
$green: #8BC53E;
$blue: #0070BB;
$black: #000;
$white: #FFF;

$color-bg: $black;
$color-text: $white;
$color-anchor: $orange;

// Typography
$font-family-default: "Roboto Mono", monospace;

$font-size-home: 2em;

$font-size-header: 3em;
$font-size-subheader: 1.1em;
$font-size-default: 1em;

// Layout
$layout-body-padding: 10rem;
$layout-footer-margin: 2rem;